{% extends 'blog/base.html' %}

    {% block title %} Know Arbitrage {% endblock %}
    {% load staticfiles %}
    {% block content %}
    <!-- Header -->
    <h1 class="page-header">
        Know Arbitrage <br/>
        <small>Because someone has to bring the market into equilibrium</small>
    </h1>
    
    {% for post in posts %}
    <!-- Blog Post -->
    <h2>
        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
    </h2>
    <p class="lead">
        by {{post.author.get_full_name}}
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on
    <time datetime="{{post.created|date:"c"}}">
        {{post.created|date}} at {{post.created|date:'g:i A'}}
    </time>
    </p>
    {% if post.imageURL %}
    <hr>
    <img class="img-responsive" src={{post.imageURL}} alt={{post.title}}>
    <hr>
    {% endif %}
    <p>{{post.description}}</p>
    <a class="btn btn-primary" href="{{post.get_absolute_url}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

    <hr>
    {% endfor %}

    <!-- Pager -->
    <ul class="pager">
        {% if posts.has_next %}
            <li class="next">
                {% if tagParam %}
                <a href="?page={{ posts.next_page_number }}&tag={{tagParam}}">Older &rarr;</a>
                {% elif queryParam %}
                <a href="?page={{ posts.next_page_number }}&q={{queryParam}}">Older &rarr;</a>
                {% else %}
                <a href="?page={{ posts.next_page_number }}">Older &rarr;</a>
                {% endif %}
            </li>
        {% endif %}
        {% if posts.has_previous %}
            <li class="previous">
                {% if tagParam %}
                <a href="?page={{ posts.previous_page_number }}&tag={{tagParam}}">&larr; Newer</a>
                {% elif queryParam %}
                <a href="?page={{ posts.previous_page_number }}&q={{queryParam}}">&larr; Newer</a>
                {% else %}
                <a href="?page={{ posts.previous_page_number }}">&larr; Newer</a>
                {% endif %}
            </li>
        {% endif %}
    </ul>
    {% endblock %}
