{% extends 'blog/base.html' %}

    {% block title %} {{post.title}} {% endblock %}
    {% load staticfiles %}
    {% block content %}
    <!-- Blog Post -->

    <!-- Title -->
    <h1>{{post.title}}</h1>

    <!-- Author -->
    <p class="lead">
        by {{post.author.get_full_name}}
    </p>

    <hr>

    <!-- Date/Time -->
    <p><span class="glyphicon glyphicon-time"></span>
    <time datetime="{{post.created|date:"c"}}">
        {{post.created|date}} at {{post.created|date:'g:i A'}}
    </time>
    </p>

    <!-- Preview Image -->
    {% if post.imageURL %}
    <hr>
    <img class="img-responsive" src={{post.imageURL}} alt={{post.title}}>
    {% endif %}

    <hr>

    <!-- Post Content -->
    {{post.content|safe}}
    <hr>

    <!-- Blog Comments -->

    <!-- Comments Form -->
    <div class="well">
        <h4>Leave a Comment:</h4>
        <form role="form" action="{{post.get_comment_url}}" method="POST">{% csrf_token %}
            <div class="form-group">
                <label for="id_author">Name</label>
                {{ form.author }}
            </div>
            <div class="form-group">
                <label for="id_body">Comment</label>
                {{ form.body }}
            </div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="message {{ message.tags }}"{% endif %}>
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <hr>

    <!-- Posted Comments -->

    <!-- Comment -->
    {% for comment in comments%}
    <div class="media{% if comment.admin %} admin-comment{% endif %}">
        <div class="media-body">
            <h4 class="media-heading">
                {% if comment.admin %}<span class="glyphicon glyphicon-star"></span>{% endif %}
                {{comment.author}}
                <small>
                    <time datetime="{{comment.created|date:"c"}}">
                        {{comment.created|date}} at {{comment.created|date:'g:i A'}}
                    </time>
                </small>
            </h4>
            {{comment.body}}
        </div>
    </div>
    {% empty %}
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">No comments, yet. Why not add one yourself?
            </h4>
        </div>
    </div>
    {% endfor %}
    {% endblock %}
